fieldset{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(21,45,37,0.36185819070904646) 0%);
    width: 450px;
    height: 5%;
    font-size: 30px;
    border-radius: 10%;
    border: 1px solid rgba(2,0,36,1);
    margin: auto;  
    box-shadow: 4px 4px 4px 4px;
}
#btn{
    margin: auto;
    justify-content: center;
    align-items: center;
}
body{
    background-image: url(713718.png);
    background-repeat: no-repeat;
    background-size: cover;
}
fieldset{
    color: aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
label{
    color: aliceblue;
}
p{
    color: aliceblue;
}